    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
<!--
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/angular-motion.css">
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/bootstrap-additions.css">
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/libraries.min.css">
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/static/styles/main.min.css">
-->
    <link rel="stylesheet" href=" {%static 'chess/contrib/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {%static 'chess/contrib/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {%static 'chess/contrib/angular-motion.css' %}">
    <link rel="stylesheet" href=" {%static 'chess/contrib/bootstrap-additions.css' %}">
    <link rel="stylesheet" href=" {%static 'chess/contrib/libraries.min.css' %}">
    <link rel="stylesheet" href=" {%static 'chess/contrib/main.min.css' %}">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" type="text/css" href="{%static 'chess/style/main.css' %}">
