/* line 1, sass/main.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 7, sass/main.scss */
.sidebar {
  background-color: #FF0000;
  float: left;
  width: 20%;
  padding: 10px;
  -moz-box-sizing: border-box;
}

/* line 15, sass/main.scss */
.piece {
  max-width: 100%;
  width: 100%;
}

/* line 20, sass/main.scss */
.square {
  display: table-cell;
  border: 1px solid grey;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 27, sass/main.scss */
.board-row {
  display: table-row;
  line-height: 0;
}

/* line 32, sass/main.scss */
.board-row:nth-child(2n) .square:nth-child(2n+1) {
  background-color: pink;
}

/* line 35, sass/main.scss */
.board-row:nth-child(2n+1) .square:nth-child(2n) {
  background-color: pink;
}

/* line 39, sass/main.scss */
.wrapper {
  margin: 30px 0;
}

/* line 43, sass/main.scss */
.red {
  background-color: red !important;
  cursor: pointer;
}
/* line 46, sass/main.scss */
.red:hover {
  opacity: 0.5;
}

/* line 51, sass/main.scss */
.yellow {
  background-color: yellow !important;
  cursor: pointer;
}
/* line 54, sass/main.scss */
.yellow:hover {
  opacity: 0.5;
}

/* line 59, sass/main.scss */
.blue {
  background-color: blue !important;
  cursor: pointer;
}
/* line 62, sass/main.scss */
.blue:hover {
  opacity: 0.5;
}

/* line 67, sass/main.scss */
.occupied {
  cursor: pointer;
}
/* line 69, sass/main.scss */
.occupied:hover {
  opacity: 0.5;
}

/* line 74, sass/main.scss */
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 81, sass/main.scss */
.middle {
  display: table-cell;
  vertical-align: middle;
}

/* line 86, sass/main.scss */
.inner {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 1px;
}
/* line 92, sass/main.scss */
.inner h2 {
  margin: 9px 0 10px;
  text-align: center;
}

/* line 98, sass/main.scss */
.overlay {
  background-color: #565656;
  bottom: 0;
  color: #FFFFFF;
  display: table-cell;
  left: 15px;
  opacity: 0.8;
  position: absolute;
  right: 15px;
  text-align: center;
  text-shadow: 2px 2px #000000;
  top: 0;
}
/* line 111, sass/main.scss */
.overlay h1 {
  margin-top: 24%;
}

/* line 116, sass/main.scss */
.promote {
  margin: 20px 0 auto;
  text-align: center;
}
/* line 119, sass/main.scss */
.promote .square {
  display: inline-block;
}
